Repository chatman-media/farang-marketplace: changes, and which Codecov flags are due for each by the changed paths.
All: payment-service, user-service, listing-service, booking-service, notification-service, ai-service, voice-service, crm-service, agency-service, web-app, mobile-app, admin-dashboard, shared-types, shared-utils

codecov.yml:

# ðŸ§ª Codecov Configuration for Thailand Marketplace
# Modern coverage reporting with service-specific targets

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 80%
        threshold: 2%
        base: auto
        if_ci_failed: error
    
    patch:
      default:
        target: 75%
        threshold: 5%
        base: auto
        if_ci_failed: error

# Service-specific coverage targets
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - name_prefix: "codecov/"
        type: "project"
        target: 80%

flags:
  # Backend Services
  payment-service:
    paths:
      - services/payment-service/
    carryforward: true
    
  user-service:
    paths:
      - services/user-service/
    carryforward: true
    
  listing-service:
    paths:
      - services/listing-service/
    carryforward: true
    
  booking-service:
    paths:
      - services/booking-service/
    carryforward: true
    
  notification-service:
    paths:
      - services/notification-service/
    carryforward: true
    
  ai-service:
    paths:
      - services/ai-service/
    carryforward: true
    
  voice-service:
    paths:
      - services/voice-service/
    carryforward: true
    
  crm-service:
    paths:
      - services/crm-service/
    carryforward: true
    
  agency-service:
    paths:
      - services/agency-service/
    carryforward: true

  # Frontend Apps
  web-app:
    paths:
      - apps/web/
    carryforward: true
    
  mobile-app:
    paths:
      - apps/mobile/
    carryforward: true
    
  admin-dashboard:
    paths:
      - apps/admin/
    carryforward: true

  # Shared Packages
  shared-types:
    paths:
      - packages/types/
    carryforward: true
    
  shared-utils:
    paths:
      - packages/utils/
    carryforward: true

# Comment configuration
comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main
    - develop

# Ignore patterns
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/coverage/**"
  - "**/dist/**"
  - "**/build/**"
  - "**/node_modules/**"
  - "**/*.config.js"
  - "**/*.config.ts"
  - "**/vitest.config.ts"
  - "**/jest.config.js"
  - "**/.next/**"
  - "**/public/**"
  - "**/docs/**"
  - "**/*.md"
  - "**/scripts/**"
  - "**/migrations/**"
  - "**/drizzle/**"

# GitHub integration
github_checks:
  annotations: true

# Slack notifications (optional)
# slack:
#   url: "secret:slack_webhook_url"
#   threshold: 1%
#   message: "Coverage changed for {{owner}}/{{repo}}"
#   attachments:
#     - color: "{{#green}}good{{/green}}{{#yellow}}warning{{/yellow}}{{#red}}danger{{/red}}"
#       text: "Coverage {{changed}} to {{coverage}}%"

fix: services/agency-service/package.json to reduce vulnerabilities
  services/agency-service/package.json
Due: agency-service

ci(deps): bump checkout v6, download-artifact v8, codecov-action v7
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/dependabot-lockfile.yml
  .github/workflows/deploy.yml
  .github/workflows/docker.yml
  .github/workflows/integration.yml
  .github/workflows/performance.yml
  .github/workflows/release.yml
Due: none

ci(deps): bump checkout v6, download-artifact v8, codecov-action v7 (#166)
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/dependabot-lockfile.yml
  .github/workflows/deploy.yml
  .github/workflows/docker.yml
  .github/workflows/integration.yml
  .github/workflows/performance.yml
  .github/workflows/release.yml
Due: none

fix: services/agency-service/package.json to reduce vulnerabilities (#164)
  services/agency-service/package.json
Due: agency-service

fix(ts): add ignoreDeprecations "6.0" to payment & booking tsconfigs
  services/booking-service/tsconfig.json
  services/payment-service/tsconfig.json
Due: payment-service, booking-service

fix(ts): add ignoreDeprecations "6.0" to payment & booking tsconfigs (#167)
  services/booking-service/tsconfig.json
  services/payment-service/tsconfig.json
Due: payment-service, booking-service

fix(security): resolve high code-scanning alerts
  bun.lock
  package.json
  services/listing-service/package.json
  services/listing-service/src/routes/uploads.ts
  services/user-service/package.json
Due: user-service, listing-service

fix(security): resolve high code-scanning alerts (#168)
  bun.lock
  package.json
  services/listing-service/package.json
  services/listing-service/src/routes/uploads.ts
  services/user-service/package.json
Due: user-service, listing-service

ci(test): run test suites serially to isolate shared CI database
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/integration.yml
  package.json
Due: none

ci(test): run test suites serially to isolate shared CI database (#169)
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/integration.yml
  package.json
Due: none

test(web): declare @testing-library/dom dependency
  apps/web/package.json
  bun.lock
Due: web-app

fix(security): resolve code-scanning alerts (log injection, webhook hardening)
  packages/logger/src/index.ts
  services/payment-service/src/routes/webhooks.ts
  services/payment-service/src/test/Webhooks.route.test.ts
Due: payment-service

fix(security): resolve code-scanning alerts (log injection, webhook hardening) (#171)
  packages/logger/src/index.ts
  services/payment-service/src/routes/webhooks.ts
  services/payment-service/src/test/Webhooks.route.test.ts
Due: payment-service

fix(security): use String.replace for log sanitization (CodeQL-recognized)
  packages/logger/src/index.ts
Due: none

fix(security): use String.replace for log sanitization (CodeQL-recognized) (#172)
  packages/logger/src/index.ts
Due: none
