Repository chatman-media/farang-marketplace: changes, and which Codecov flags are due for each by the changed paths.
All: payment-service, user-service, listing-service, booking-service, notification-service, ai-service, voice-service, crm-service, agency-service, web-app, mobile-app, admin-dashboard, shared-types, shared-utils

fix: resolve CRM service test failures
  services/crm-service/src/test/CommunicationService.test.ts
Due: none

fix: up payment service docs
  docs/ru/services/payment-service.md
Due: none

Fix TypeScript errors and improve Fastify migration
  bun.lock
  services/agency-service/src/controllers/AgencyController.ts
  services/agency-service/src/middleware/auth.ts
  services/agency-service/src/services/AgencyService.ts
  services/agency-service/src/services/AgencyServiceService.ts
  services/agency-service/src/services/ServiceAssignmentService.ts
  services/agency-service/src/test/AgencyAPI.test.ts
  services/agency-service/src/test/AgencyService.test.ts
  services/agency-service/src/test/BookingIntegration.test.ts
  services/ai-service/src/middleware/auth.ts
  services/booking-service/src/services/BookingService.ts
  services/voice-service/package.json
  services/voice-service/src/app.ts
  services/voice-service/src/controllers/VoiceController.ts
  services/voice-service/src/index.ts
  services/voice-service/src/middleware/auth.ts
  services/voice-service/src/routes/fastify-voice.ts
  services/voice-service/src/routes/voice-express.ts.bak
  services/voice-service/src/services/SpeechToTextService.ts
  services/voice-service/src/services/VoiceCommandService.ts
Due: booking-service, ai-service, voice-service, agency-service

fix: rm old file
  services/voice-service/src/routes/voice-express.ts.bak
Due: voice-service

Complete Fastify migration and fix TypeScript errors
  services/listing-service/src/ai/types.ts
  services/listing-service/src/app.ts
  services/listing-service/src/controllers/FastifyServiceProviderController.ts
  services/listing-service/src/routes/fastify-serviceProviders.ts
  services/voice-service/src/routes/fastify-voice.ts
Due: listing-service, voice-service

feat: Complete Express to Fastify migration across all services
  bun.lock
  docs/ru/services/README.md
  services/ai-service/src/app.ts
  services/ai-service/src/controllers/ContentAnalysisController.ts
  services/ai-service/src/controllers/FastifyInsightsController.ts
  services/ai-service/src/controllers/InsightsController.ts
  services/ai-service/src/controllers/RecommendationController.ts
  services/ai-service/src/index.ts
  services/ai-service/src/middleware/auth.ts
  services/ai-service/src/middleware/fastify-auth.ts
  services/ai-service/src/minimal-server.ts
  services/ai-service/src/routes/content-analysis.ts
  services/ai-service/src/routes/fastify-content-analysis.ts
  services/ai-service/src/routes/fastify-insights.ts
  services/ai-service/src/routes/fastify-marketplace-integration.ts
  services/ai-service/src/routes/insights.ts
  services/ai-service/src/routes/marketplace-integration.ts
  services/booking-service/README.md
  services/booking-service/src/app.ts
  services/booking-service/src/middleware/auth.ts
  services/booking-service/src/routes/availability.ts
  services/booking-service/src/routes/bookings.ts
  services/booking-service/src/routes/fastify-availability.ts
  services/booking-service/src/routes/fastify-bookings.ts
  services/booking-service/src/routes/fastify-pricing.ts
  services/booking-service/src/routes/pricing.ts
  services/listing-service/src/middleware/upload.ts
  services/user-service/src/controllers/AuthController.ts
  services/user-service/src/tests/helpers/fastify-test-utils.ts
  services/user-service/src/tests/unit/AuthController.simple.test.ts
  services/voice-service/src/controllers/VoiceController.ts
  services/voice-service/src/routes/fastify-voice.ts
Due: user-service, listing-service, booking-service, ai-service, voice-service

fix: Resolve type errors and clean up booking-service routes
  services/ai-service/src/app.ts
  services/ai-service/src/controllers/ContentAnalysisController.ts
  services/ai-service/src/controllers/InsightsController.ts
  services/ai-service/src/controllers/MarketplaceIntegrationController.ts
  services/ai-service/src/middleware/auth.ts
  services/ai-service/src/routes/content-analysis.ts
  services/ai-service/src/routes/fastify-content-analysis.ts
  services/ai-service/src/routes/insights.ts
  services/ai-service/src/routes/marketplace-integration.ts
  services/booking-service/src/app.ts
  services/booking-service/src/controllers/BookingController.ts
  services/booking-service/src/index.ts
  services/booking-service/src/middleware/auth.ts
  services/booking-service/src/routes/availability.ts
  services/booking-service/src/routes/bookings.ts
  services/booking-service/src/routes/fastify-availability.ts
  services/booking-service/src/routes/fastify-bookings.ts
  services/booking-service/src/routes/fastify-pricing.ts
  services/booking-service/src/routes/pricing.ts
  services/listing-service/src/app.ts
  services/listing-service/src/routes/fastify-aiSearch.ts
  services/listing-service/src/routes/serviceProviders.ts
  services/voice-service/src/app.ts
  services/voice-service/src/routes/voice.ts
Due: listing-service, booking-service, ai-service, voice-service

docs: Update service documentation after Fastify migration
  docs/ru/services/README.md
  docs/ru/services/ai-service.md
  docs/ru/services/booking-service.md
  docs/ru/services/fastify-migration.md
Due: none

feat: Add automation system and enhanced communication tracking to CRM service
  packages/shared-types/src/crm.ts
  services/crm-service/src/controllers/CRMController.ts
  services/crm-service/src/db/migrations/002_add_automation_fields.sql
  services/crm-service/src/db/schema.sql
  services/crm-service/src/routes/crm.ts
  services/crm-service/src/services/AutomationService.ts
  services/crm-service/src/services/CRMService.ts
  services/crm-service/src/services/TelegramService.ts
  services/crm-service/src/test/AutomationService.test.ts
Due: crm-service

fix: Restore ProfileController integration tests functionality
  services/user-service/src/app.ts
  services/user-service/src/controllers/ProfileController.ts
  services/user-service/src/middleware/auth.ts
  services/user-service/src/tests/helpers/fastify-test-utils.ts
  services/user-service/src/tests/integration/ProfileController.test.ts
  services/user-service/src/tests/integration/ProfileController.test.ts.bak
Due: user-service

feat: expand CRM service with segmentation, templates, and automation
  docs/ru/services/booking-service.md
  docs/ru/services/crm-service.md
  docs/ru/services/fastify-migration.md
  docs/ru/tasks/crm-service-analysis.md
  docs/ru/tasks/crm-service-expansion-tasks.md
  packages/shared-types/src/crm.ts
  services/crm-service/package.json
  services/crm-service/src/controllers/SegmentController.ts
  services/crm-service/src/controllers/TemplateController.ts
  services/crm-service/src/db/check-tables.ts
  services/crm-service/src/db/fix-templates.ts
  services/crm-service/src/db/migrate-templates.ts
  services/crm-service/src/db/migrations/003_add_message_templates.sql
  services/crm-service/src/db/migrations/004_add_segments.sql
  services/crm-service/src/db/run-migration.ts
  services/crm-service/src/db/update-templates.ts
  services/crm-service/src/index.ts
  services/crm-service/src/models/Customer.ts
  services/crm-service/src/models/Segment.ts
  services/crm-service/src/models/Template.ts
  services/crm-service/src/routes/crm.ts
  services/crm-service/src/routes/segments.ts
  services/crm-service/src/routes/templates.ts
  services/crm-service/src/services/AutomationService.ts
  services/crm-service/src/services/CRMService.ts
  services/crm-service/src/services/CommunicationService.ts
  services/crm-service/src/services/CronService.ts
  services/crm-service/src/services/SegmentationService.ts
  services/crm-service/src/services/TemplateService.ts
  services/crm-service/src/test/CronService.test.ts
  services/crm-service/src/test/Customer.test.ts
  services/crm-service/src/test/Segment.test.ts
  services/crm-service/src/test/SegmentController.test.ts
  services/crm-service/src/test/SegmentationService.test.ts
  services/crm-service/src/test/Template.test.ts
  services/crm-service/src/test/TemplateController.test.ts
  services/crm-service/src/test/TemplateService.test.ts
Due: crm-service

Fix TypeScript type errors across services
  docs/ru/services/README.md
  docs/ru/services/listing-service.md
  docs/ru/services/user-service.md
  packages/shared-types/src/listing.ts
  packages/shared-types/src/user.ts
  services/ai-service/src/services/MarketplaceIntegrationService.ts
  services/listing-service/drizzle.config.ts
  services/listing-service/package.json
  services/listing-service/src/app.ts
  services/listing-service/src/controllers/RealEstateController.ts
  services/listing-service/src/db/migrations/004_add_real_estate_tables.sql
  services/listing-service/src/db/schema.ts
  services/listing-service/src/routes/realEstate.ts
  services/listing-service/src/services/RealEstateService.ts
  services/listing-service/src/test/RealEstateService.test.ts
  services/user-service/README.md
  services/user-service/src/controllers/AuthController.ts
  services/user-service/src/controllers/ProfileController.ts
  services/user-service/src/database/migrations/003_add_user_preferences.sql
  services/user-service/src/models/User.ts
  services/user-service/src/services/UserService.ts
  services/user-service/src/tests/fixtures/database.ts
  services/user-service/src/tests/integration/UserPreferences.test.ts
  services/user-service/src/tests/models/User.test.ts
Due: user-service, listing-service, ai-service

Fix Booking Service documentation inconsistencies and extend schema
  docs/ru/services/README.md
  docs/ru/services/booking-service.md
  packages/shared-types/src/booking.ts
  services/booking-service/drizzle/0000_useful_ma_gnuci.sql
  services/booking-service/drizzle/meta/0000_snapshot.json
  services/booking-service/drizzle/meta/_journal.json
  services/booking-service/src/controllers/BookingController.ts
  services/booking-service/src/db/schema.ts
  services/booking-service/src/services/BookingService.ts
Due: booking-service

Fix CRM service test failures in SegmentationService
  services/crm-service/src/services/SegmentationService.ts
  services/crm-service/src/test/SegmentationService.test.ts
Due: crm-service

Fix Payment Service documentation inconsistencies
  docs/ru/services/README.md
  docs/ru/services/payment-service.md
  services/booking-service/src/app.ts
  services/booking-service/src/index.ts
  services/payment-service/drizzle/0000_shiny_ultimo.sql
  services/payment-service/drizzle/meta/0000_snapshot.json
  services/payment-service/drizzle/meta/_journal.json
  services/payment-service/src/app.ts
  services/payment-service/src/db/schema.ts
  services/payment-service/src/index.ts
Due: payment-service, booking-service

Fix Agency Service documentation and align with rental business model
  docs/ru/services/README.md
  docs/ru/services/agency-service.md
  services/agency-service/drizzle/0000_keen_sentry.sql
  services/agency-service/drizzle/meta/0000_snapshot.json
  services/agency-service/drizzle/meta/_journal.json
  services/agency-service/src/db/schema.ts
  services/payment-service/drizzle/meta/0000_snapshot.json
Due: agency-service

Fix AI Service documentation inconsistencies
  docs/ru/services/ai-service.md
  services/ai-service/package.json
Due: ai-service

Fix Voice Service documentation inconsistencies
  docs/ru/services/README.md
  docs/ru/services/voice-service.md
Due: none

Update project tasks status - mark completed work
  .kiro/specs/marketplace-rental-platform/tasks.md
Due: none

Complete Task 8: API Gateway and Service Orchestration
  .kiro/specs/marketplace-rental-platform/tasks.md
Due: none

Create codacy.yml
  .github/workflows/codacy.yml
Due: none

Add Redis config and OAuth state manager to user service
  services/user-service/src/config/redis.ts
  services/user-service/uploads/profiles/a1103b26-2901-451d-90c2-e54eec95e956-1757664931397.jpg
Due: user-service

ci: add GitHub Pages deployment workflow
  .github/workflows/deploy.yml
  apps/web/server.js
  apps/web/vite.config.ts
Due: web-app

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

fix: services/crm-service/package.json to reduce vulnerabilities
  services/crm-service/package.json
Due: crm-service

fix: correct Vitest mock implementation for LineService and CommunicationService tests
  services/crm-service/src/test/CommunicationService.test.ts
  services/crm-service/src/test/LineService.test.ts
Due: none

wip: attempt to fix EmailService mock with vi.hoisted()
  services/crm-service/src/test/EmailService.test.ts
Due: none

docs: add comprehensive test status report
  TEST_STATUS.md
Due: none

Path conditions:
  payment-service: any of: services/payment-service/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/coverage/**, **/dist/**, **/build/**, **/node_modules/**, **/*.config.js, **/*.config.ts, **/vitest.config.ts, **/jest.config.js, **/.next/**, **/public/**, **/docs/**, **/*.md, **/scripts/**, **/migrations/**, **/drizzle/**
  user-service: any of: services/user-service/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/coverage/**, **/dist/**, **/build/**, **/node_modules/**, **/*.config.js, **/*.config.ts, **/vitest.config.ts, **/jest.config.js, **/.next/**, **/public/**, **/docs/**, **/*.md, **/scripts/**, **/migrations/**, **/drizzle/**
  listing-service: any of: services/listing-service/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/coverage/**, **/dist/**, **/build/**, **/node_modules/**, **/*.config.js, **/*.config.ts, **/vitest.config.ts, **/jest.config.js, **/.next/**, **/public/**, **/docs/**, **/*.md, **/scripts/**, **/migrations/**, **/drizzle/**
  booking-service: any of: services/booking-service/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/coverage/**, **/dist/**, **/build/**, **/node_modules/**, **/*.config.js, **/*.config.ts, **/vitest.config.ts, **/jest.config.js, **/.next/**, **/public/**, **/docs/**, **/*.md, **/scripts/**, **/migrations/**, **/drizzle/**
  notification-service: any of: services/notification-service/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/coverage/**, **/dist/**, **/build/**, **/node_modules/**, **/*.config.js, **/*.config.ts, **/vitest.config.ts, **/jest.config.js, **/.next/**, **/public/**, **/docs/**, **/*.md, **/scripts/**, **/migrations/**, **/drizzle/**
  ai-service: any of: services/ai-service/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/coverage/**, **/dist/**, **/build/**, **/node_modules/**, **/*.config.js, **/*.config.ts, **/vitest.config.ts, **/jest.config.js, **/.next/**, **/public/**, **/docs/**, **/*.md, **/scripts/**, **/migrations/**, **/drizzle/**
  voice-service: any of: services/voice-service/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/coverage/**, **/dist/**, **/build/**, **/node_modules/**, **/*.config.js, **/*.config.ts, **/vitest.config.ts, **/jest.config.js, **/.next/**, **/public/**, **/docs/**, **/*.md, **/scripts/**, **/migrations/**, **/drizzle/**
  crm-service: any of: services/crm-service/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/coverage/**, **/dist/**, **/build/**, **/node_modules/**, **/*.config.js, **/*.config.ts, **/vitest.config.ts, **/jest.config.js, **/.next/**, **/public/**, **/docs/**, **/*.md, **/scripts/**, **/migrations/**, **/drizzle/**
  agency-service: any of: services/agency-service/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/coverage/**, **/dist/**, **/build/**, **/node_modules/**, **/*.config.js, **/*.config.ts, **/vitest.config.ts, **/jest.config.js, **/.next/**, **/public/**, **/docs/**, **/*.md, **/scripts/**, **/migrations/**, **/drizzle/**
  web-app: any of: apps/web/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/coverage/**, **/dist/**, **/build/**, **/node_modules/**, **/*.config.js, **/*.config.ts, **/vitest.config.ts, **/jest.config.js, **/.next/**, **/public/**, **/docs/**, **/*.md, **/scripts/**, **/migrations/**, **/drizzle/**
  mobile-app: any of: apps/mobile/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/coverage/**, **/dist/**, **/build/**, **/node_modules/**, **/*.config.js, **/*.config.ts, **/vitest.config.ts, **/jest.config.js, **/.next/**, **/public/**, **/docs/**, **/*.md, **/scripts/**, **/migrations/**, **/drizzle/**
  admin-dashboard: any of: apps/admin/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/coverage/**, **/dist/**, **/build/**, **/node_modules/**, **/*.config.js, **/*.config.ts, **/vitest.config.ts, **/jest.config.js, **/.next/**, **/public/**, **/docs/**, **/*.md, **/scripts/**, **/migrations/**, **/drizzle/**
  shared-types: any of: packages/types/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/coverage/**, **/dist/**, **/build/**, **/node_modules/**, **/*.config.js, **/*.config.ts, **/vitest.config.ts, **/jest.config.js, **/.next/**, **/public/**, **/docs/**, **/*.md, **/scripts/**, **/migrations/**, **/drizzle/**
  shared-utils: any of: packages/utils/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/coverage/**, **/dist/**, **/build/**, **/node_modules/**, **/*.config.js, **/*.config.ts, **/vitest.config.ts, **/jest.config.js, **/.next/**, **/public/**, **/docs/**, **/*.md, **/scripts/**, **/migrations/**, **/drizzle/**
