Repository chatman-media/farang-marketplace: changes, and which Codecov flags are due for each by the changed paths.
All: payment-service, user-service, listing-service, booking-service, notification-service, ai-service, voice-service, crm-service, agency-service, web-app, mobile-app, admin-dashboard, shared-types, shared-utils

codecov.yml:

# ðŸ§ª Codecov Configuration for Thailand Marketplace
# Modern coverage reporting with service-specific targets

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 80%
        threshold: 2%
        base: auto
        if_ci_failed: error
    
    patch:
      default:
        target: 75%
        threshold: 5%
        base: auto
        if_ci_failed: error

# Service-specific coverage targets
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - name_prefix: "codecov/"
        type: "project"
        target: 80%

flags:
  # Backend Services
  payment-service:
    paths:
      - services/payment-service/
    carryforward: true
    
  user-service:
    paths:
      - services/user-service/
    carryforward: true
    
  listing-service:
    paths:
      - services/listing-service/
    carryforward: true
    
  booking-service:
    paths:
      - services/booking-service/
    carryforward: true
    
  notification-service:
    paths:
      - services/notification-service/
    carryforward: true
    
  ai-service:
    paths:
      - services/ai-service/
    carryforward: true
    
  voice-service:
    paths:
      - services/voice-service/
    carryforward: true
    
  crm-service:
    paths:
      - services/crm-service/
    carryforward: true
    
  agency-service:
    paths:
      - services/agency-service/
    carryforward: true

  # Frontend Apps
  web-app:
    paths:
      - apps/web/
    carryforward: true
    
  mobile-app:
    paths:
      - apps/mobile/
    carryforward: true
    
  admin-dashboard:
    paths:
      - apps/admin/
    carryforward: true

  # Shared Packages
  shared-types:
    paths:
      - packages/types/
    carryforward: true
    
  shared-utils:
    paths:
      - packages/utils/
    carryforward: true

# Comment configuration
comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main
    - develop

# Ignore patterns
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/coverage/**"
  - "**/dist/**"
  - "**/build/**"
  - "**/node_modules/**"
  - "**/*.config.js"
  - "**/*.config.ts"
  - "**/vitest.config.ts"
  - "**/jest.config.js"
  - "**/.next/**"
  - "**/public/**"
  - "**/docs/**"
  - "**/*.md"
  - "**/scripts/**"
  - "**/migrations/**"
  - "**/drizzle/**"

# GitHub integration
github_checks:
  annotations: true

# Slack notifications (optional)
# slack:
#   url: "secret:slack_webhook_url"
#   threshold: 1%
#   message: "Coverage changed for {{owner}}/{{repo}}"
#   attachments:
#     - color: "{{#green}}good{{/green}}{{#yellow}}warning{{/yellow}}{{#red}}danger{{/red}}"
#       text: "Coverage {{changed}} to {{coverage}}%"

fix: configure Neon PostgreSQL for integration tests and improve test success rate
  TEST_STATUS.md
  packages/database-schema/.env.test
  services/crm-service/.env.test
  services/crm-service/src/db/connection.ts
  services/crm-service/src/test/CommunicationService.test.ts
  services/crm-service/src/test/EmailService.test.ts
  services/crm-service/src/test/LineService.test.ts
  services/crm-service/src/test/setup.ts
Due: crm-service

fix: correct rowCount handling in query wrapper for DELETE/UPDATE/INSERT
  TEST_STATUS.md
  services/crm-service/src/db/connection.ts
Due: crm-service

feat: fix EmailService mocks, create customers table, improve test success to 97.4%
  TEST_STATUS.md
  services/crm-service/.env.test
  services/crm-service/src/test/EmailService.test.ts
  services/crm-service/src/test/SegmentController.test.ts
  services/crm-service/src/test/SegmentationService.test.ts
  services/crm-service/vitest.config.ts
Due: crm-service

fix: resolve Redis initialization circular dependency in payment-service
  services/payment-service/src/jobs/index.ts
  services/payment-service/src/jobs/processors/paymentLifecycle.ts
  services/payment-service/src/jobs/processors/tonMonitoring.ts
  services/payment-service/src/routes/payments.ts
  services/payment-service/src/services/ModernTonService.ts
  services/payment-service/src/test/PaymentAPI.test.ts
  services/payment-service/src/test/PaymentService.test.ts
  services/payment-service/src/test/TonService.test.ts
Due: payment-service

docs: add comprehensive database and Redis setup documentation
  README.md
  docs/ru/README.md
Due: none

fix: unify all services to use single Neon PostgreSQL database
  services/agency-service/.env.test
  services/ai-service/.env.test
  services/booking-service/.env.test
  services/crm-service/.env.test
  services/crm-service/src/db/connection.ts
  services/crm-service/src/test/CronService.test.ts
  services/listing-service/.env.test
  services/payment-service/.env.test
  test_db.mjs
Due: payment-service, listing-service, booking-service, ai-service, crm-service, agency-service

feat: migrate all services to use local Docker PostgreSQL for development and testing
  docker/postgres/init.sql
  packages/database-schema/.env.test
  services/agency-service/.env.test
  services/ai-service/.env.test
  services/booking-service/.env.test
  services/crm-service/.env.test
  services/crm-service/src/db/connection.ts
  services/crm-service/src/test/SegmentController.test.ts
  services/crm-service/src/test/SegmentationService.test.ts
  services/listing-service/.env.test
  services/payment-service/.env.test
Due: payment-service, listing-service, booking-service, ai-service, crm-service, agency-service

docs: add important note about stopping local PostgreSQL before Docker setup
  README.md
  docs/ru/README.md
Due: none

ci: configure comprehensive CI/CD pipeline with security scanning
  .github/SECURITY.md
  .github/dependabot.yml
  .github/pull_request_template.md
  .github/workflows/README.md
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/docker.yml
  .github/workflows/integration.yml
  .github/workflows/performance.yml
  .github/workflows/trivy.yml
  CI_CD_SUMMARY.md
  SETUP_GITHUB_ACTIONS.md
  TEST_STATUS.md
  scripts/check-workflows.sh
  test_db.mjs
Due: none

fix(ci): fix Trivy Docker scan file naming issue
  .github/workflows/trivy.yml
Due: none

fix(ci): remove MinIO from integration tests
  .github/workflows/integration.yml
Due: none

feat: migrate from MinIO to Vercel Blob storage
  .env.example
  VERCEL_BLOB_MIGRATION.md
  docker-compose.yml
  docs/VERCEL_BLOB_SETUP.md
  packages/storage-service/README.md
  packages/storage-service/package.json
  packages/storage-service/src/index.ts
  packages/storage-service/tsconfig.json
Due: none

refactor(storage): move storage-service from packages to services
  VERCEL_BLOB_MIGRATION.md
  bun.lock
  packages/storage-service/package.json
  packages/storage-service/tsconfig.json
  services/storage-service/README.md
  services/storage-service/package.json
  services/storage-service/src/index.ts
  services/storage-service/tsconfig.json
Due: none

fix(storage): fix CI failures in storage-service
  services/storage-service/package.json
  services/storage-service/tsconfig.json
Due: none

fix(storage): correct Vercel Blob API type definitions
  services/storage-service/src/index.ts
Due: none

fix(database): add missing user table columns
  packages/database-schema/migrations/0001_add_missing_user_columns.sql
  packages/database-schema/migrations/README.md
Due: none

refactor: remove ai-service
  .github/dependabot.yml
  services/ai-service/.env.example
  services/ai-service/.env.test
  services/ai-service/.prettierrc
  services/ai-service/README.md
  services/ai-service/package.json
  services/ai-service/src/app.ts
  services/ai-service/src/config/database.ts
  services/ai-service/src/controllers/ContentAnalysisController.ts
  services/ai-service/src/controllers/InsightsController.ts
  services/ai-service/src/controllers/MarketplaceIntegrationController.ts
  services/ai-service/src/controllers/RecommendationController.ts
  services/ai-service/src/database/connection.ts
  services/ai-service/src/index.ts
  services/ai-service/src/middleware/auth.ts
  services/ai-service/src/minimal-server.ts
  services/ai-service/src/models/index.ts
  services/ai-service/src/routes/content-analysis.ts
  services/ai-service/src/routes/insights.ts
  services/ai-service/src/routes/marketplace-integration.ts
  services/ai-service/src/routes/recommendations.ts
  services/ai-service/src/services/AIProviderService.ts
  services/ai-service/src/services/ContentAnalysisService.ts
  services/ai-service/src/services/MarketplaceIntegrationService.ts
  services/ai-service/src/services/RecommendationEngine.ts
  services/ai-service/src/services/UserBehaviorService.ts
  services/ai-service/src/test/AIProviderService.test.ts
  services/ai-service/src/test/ContentAnalysis.test.ts
  services/ai-service/src/test/MarketplaceIntegrationService.test.ts
  services/ai-service/src/test/RecommendationEngine.test.ts
  services/ai-service/src/test/UserBehaviorService.test.ts
  services/ai-service/src/test/setup.ts
  services/ai-service/tsconfig.json
  services/ai-service/vitest.config.ts
Due: ai-service

docs: remove ai-service references from documentation
  CI_CD_SUMMARY.md
  README.ru.md
  docs/ru/services/crm-service.md
  docs/ru/services/listing-service.md
Due: none

fix(ci): remove ai-service from codecov configuration
  codecov.yml
Due: none

fix(deps): update bun.lock after ai-service removal
  bun.lock
Due: none

refactor: replace ESLint and Prettier with Biome
  .prettierignore
  .prettierrc
  bun.lock
  eslint.config.js
  package.json
  services/api-gateway/package.json
  services/booking-service/package.json
  services/listing-service/package.json
  services/payment-service/package.json
Due: payment-service, listing-service, booking-service

(core): format code
  apps/web/server.js
  apps/web/vite.config.ts
  apps/web/vitest.config.ts
  packages/i18n/src/components/LanguageSwitcher.tsx
  packages/logger/src/index.ts
  services/payment-service/src/app.ts
  services/payment-service/src/index.ts
  services/payment-service/src/jobs/processors/paymentLifecycle.ts
  services/payment-service/src/jobs/processors/tonMonitoring.ts
  services/payment-service/src/jobs/schedulers/index.ts
  services/payment-service/src/routes/payments.ts
  services/payment-service/src/routes/webhooks.ts
  services/payment-service/src/services/ModernTonService.ts
  services/payment-service/src/services/PaymentService.ts
  services/payment-service/src/test/PaymentAPI.test.ts
  services/payment-service/src/test/PaymentService.test.ts
  services/payment-service/src/test/StripeService.test.ts
  services/payment-service/src/test/TonService.test.ts
  services/storage-service/src/index.ts
Due: payment-service, web-app

fix(deps): sync bun.lock after ESLint removal
  bun.lock
Due: none

fix(ci): fix GitHub Actions workflows compatibility issues
  .github/workflows/codeql.yml
  .github/workflows/deploy.yml
  .github/workflows/integration.yml
  .github/workflows/performance.yml
  .github/workflows/trivy.yml
  codecov.yml
Due: none

fix(ci): add database schema push step before tests
  .github/workflows/ci.yml
Due: none

fix(ci): install PostgreSQL and Redis client tools in GitHub Actions
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/integration.yml
Due: none

rm eslint
  .github/dependabot.yml
  apps/web/src/test/DebugAPI.tsx
  packages/logger/package.json
  packages/logger/src/index.ts
  scripts/verify-setup.sh
  services/booking-service/src/test/setup.ts
Due: none

fix(database-schema): add --force flag to db:push script
  packages/database-schema/package.json
Due: none

fix(ci): improve GitHub Actions workflow robustness
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/integration.yml
Due: none

fix(ci): improve deploy, release, and performance workflows
  .github/workflows/deploy.yml
  .github/workflows/performance.yml
  .github/workflows/release.yml
Due: none

fix(tests): remove duplicate incorrect assertions in schema.test.ts
  packages/database-schema/src/__tests__/schema.test.ts
Due: none

chore(ci): temporarily disable security workflows for testing
  .github/workflows/codacy.yml
  .github/workflows/codeql.yml
  .github/workflows/trivy.yml
Due: none

chore: update dependencies and fix test schema
  apps/web/package.json
  bun.lock
  package.json
  services/agency-service/.env.bak
  services/agency-service/package.json
  services/crm-service/package.json
  services/listing-service/package.json
  services/user-service/src/tests/integration/ProfileController.test.ts
Due: listing-service, crm-service, agency-service, web-app

feat: add Codecov integration and MailHog testing setup
  CODECOV_SETUP.md
  README.md
  bun.lock
  services/crm-service/package.json
  services/crm-service/src/index.ts
  services/crm-service/src/routes/webhooks.ts
  services/crm-service/test-email.ts
  services/crm-service/vitest.config.ts
  test-mailhog.sh
Due: crm-service

chore(database-schema): add .env setup and improve test reliability
  packages/database-schema/.env.example
  packages/database-schema/README.md
  packages/database-schema/package.json
  packages/database-schema/src/__tests__/schema.test.ts
  packages/database-schema/src/__tests__/simple-schema.test.ts
Due: none

fix(ci): update Bun version to 1.3.1 and fix lockfile configuration
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/docker.yml
  .github/workflows/integration.yml
  .github/workflows/performance.yml
  .github/workflows/release.yml
  .github/workflows/trivy.yml
  .gitignore
  services/user-service/.env.test
  services/user-service/src/tests/fixtures/database.ts
  services/user-service/src/tests/setup.ts
Due: user-service

fix(crm): resolve missing tables and columns for CRM service startup
  package.json
  packages/database-schema/.env.test
  packages/database-schema/src/__tests__/schema.test.ts
  packages/database-schema/src/__tests__/setup.ts
  packages/database-schema/src/__tests__/simple-schema.test.ts
  packages/database-schema/src/schema.ts
  services/crm-service/drizzle/0000_tense_aqueduct.sql
  services/crm-service/drizzle/meta/0000_snapshot.json
  services/crm-service/drizzle/meta/_journal.json
  services/crm-service/src/services/CronService.ts
Due: crm-service

refactor(tests): clean up unused database connection code in test setup
  packages/database-schema/src/__tests__/setup.ts
Due: none

fix(ci): prevent double schema application in CI tests
  packages/database-schema/src/__tests__/setup.ts
Due: none

fix(ci): update Bun version to 1.3.1 in CodeQL and Deploy workflows
  .github/workflows/codeql.yml
  .github/workflows/deploy.yml
Due: none
