Repository chatman-media/farang-marketplace: changes, and which Codecov flags are due for each by the changed paths.
All: payment-service, user-service, listing-service, booking-service, notification-service, ai-service, voice-service, crm-service, agency-service, web-app, mobile-app, admin-dashboard, shared-types, shared-utils

test(payment-service): add comprehensive PaymentService tests
  services/payment-service/src/test/PaymentService.real.test.ts
Due: none

fix(tests): исправлены падающие тесты в booking-service
  services/booking-service/src/test/BookingService.test.ts
  services/booking-service/src/test/PricingService.test.ts
Due: none

fix(tests): исправлены все падающие тесты в payment-service
  services/payment-service/src/test/PaymentService.real.test.ts
Due: none

fix(tests): улучшен mock для BookingService тестов
  services/booking-service/src/test/BookingService.test.ts
Due: none

fix(tests): исправлены все падающие тесты в booking-service
  services/booking-service/src/test/BookingService.test.ts
Due: none

fix(tests): исправлены падающие тесты в crm-service для CI
  .github/workflows/ci.yml
  services/crm-service/.env.test
  services/crm-service/src/test/webhooks.test.ts
Due: crm-service

fix(ci): улучшена конфигурация PostgreSQL и загрузка .env.test для CRM
  .github/workflows/ci.yml
  services/crm-service/src/test/setup.ts
Due: none

fix(crm-service): исправлена загрузка DATABASE_URL в CI тестах
  services/crm-service/.env.test
  services/crm-service/src/test/setup.ts
Due: crm-service

fix(tests): унифицирована конфигурация тестов для всех сервисов
  services/agency-service/.env.test
  services/agency-service/vitest.config.ts
  services/booking-service/.env.test
  services/booking-service/vitest.config.ts
  services/listing-service/.env.test
  services/listing-service/vitest.config.ts
  services/payment-service/.env.test
  services/payment-service/vitest.config.ts
  services/user-service/.env.test
Due: payment-service, user-service, listing-service, booking-service, agency-service

fix: services/crm-service/package.json to reduce vulnerabilities
  services/crm-service/package.json
Due: crm-service

fix: apps/web/package.json to reduce vulnerabilities
  apps/web/package.json
Due: web-app

fix: apps/admin/package.json to reduce vulnerabilities
  apps/admin/package.json
Due: admin-dashboard

docs(readme): multilingual README + roadmap + badge updates + dep upgrades
  README.md
  README.ru.md
  README.th.md
  bun.lock
  package.json
Due: none

fix(payment): repair the BullMQ job system and enable it by default
  .env.example
  apps/api/src/worker.ts
  packages/database-schema/src/index.ts
  packages/database-schema/src/schema.ts
  services/payment-service/.env.test
  services/payment-service/src/jobs/index.ts
  services/payment-service/src/jobs/processors/maintenance.ts
  services/payment-service/src/jobs/processors/paymentLifecycle.ts
  services/payment-service/src/jobs/processors/reconciliation.ts
  services/payment-service/src/jobs/queues.ts
  services/payment-service/src/jobs/schedulers/index.ts
  services/payment-service/src/test/PaymentLifecycle.test.ts
Due: payment-service

chore: strengthen security scanning + refresh dependencies
  .github/workflows/codacy.yml
  .github/workflows/codeql.yml
  .github/workflows/coverage.yml
  .github/workflows/security.yml
  .github/workflows/trivy.yml
  .gitleaks.toml
  README.md
  README.ru.md
  README.th.md
  apps/web/package.json
  bun.lock
  package.json
  packages/database-schema/.env.test
Due: web-app

fix(ci): make CI Pipeline green (test DB schema, flaky test, lint)
  .github/workflows/ci.yml
  apps/web/src/lib/api/client.ts
  services/payment-service/src/test/PaymentLifecycle.test.ts
  services/payment-service/vitest.config.ts
  services/user-service/src/index.ts
  services/user-service/src/routes/auth.ts
Due: user-service, web-app

fix(test): skip the PaymentLifecycle DB integration test under CI
  services/payment-service/src/test/PaymentLifecycle.test.ts
Due: none

fix(security): address CodeQL findings + supersede stale Trivy alerts
  .github/workflows/security.yml
  apps/web/package.json
  apps/web/server.js
  bun.lock
  services/listing-service/src/middleware/upload.ts
Due: listing-service, web-app

fix(ci): align vitest@4.1.7 across all workspaces to fix coverage PARSE_ERROR
  apps/api/package.json
  apps/web/package.json
  bun.lock
  packages/database-schema/package.json
  services/agency-service/package.json
  services/booking-service/package.json
  services/crm-service/package.json
  services/listing-service/package.json
  services/payment-service/package.json
  services/user-service/package.json
Due: payment-service, user-service, listing-service, booking-service, crm-service, agency-service, web-app

feat(crm): replace whatsapp-web.js with Meta Cloud API
  bun.lock
  services/crm-service/package.json
  services/crm-service/src/routes/webhooks.ts
  services/crm-service/src/services/CommunicationService.ts
  services/crm-service/src/services/WhatsAppService.ts
Due: crm-service

fix(ci): regenerate bun.lock after dependabot package updates
  bun.lock
Due: none

fix: update vulnerable dependencies to patched versions
  apps/admin/package.json
  apps/admin/src/vite-env.d.ts
  apps/api/package.json
  apps/ton-app/package.json
  apps/ton-app/src/vite-env.d.ts
  apps/web/tsconfig.json
  packages/database-schema/package.json
  packages/database-schema/tsconfig.json
  packages/i18n/package.json
  packages/i18n/src/env.d.ts
  packages/shared-types/tsconfig.json
  services/listing-service/tsconfig.json
  services/user-service/tsconfig.json
  tsconfig.json
Due: user-service, listing-service, web-app, admin-dashboard

fix(security): patch npm CVEs, fix TypeScript 6 compat, fix Fastify v5 types
  apps/admin/package.json
  apps/api/package.json
  apps/api/src/app.ts
  apps/web/package.json
  apps/web/tsconfig.json
  bun.lock
  package.json
  packages/database-schema/tsconfig.json
  packages/shared-types/tsconfig.json
  services/agency-service/package.json
  services/agency-service/src/app.ts
  services/booking-service/package.json
  services/crm-service/package.json
  services/crm-service/src/index.ts
  services/crm-service/src/routes/webhooks.ts
  services/listing-service/package.json
  services/listing-service/src/app.ts
  services/listing-service/tsconfig.json
  services/payment-service/package.json
  services/payment-service/src/app.ts
  services/storage-service/package.json
  services/user-service/package.json
  services/user-service/src/app.ts
  services/user-service/tsconfig.json
  tsconfig.json
Due: payment-service, user-service, listing-service, booking-service, crm-service, agency-service, web-app, admin-dashboard

fix(tests): sync crm-service tests with actual production behavior
  services/crm-service/src/test/CommunicationService.test.ts
  services/crm-service/src/test/webhooks.test.ts
Due: none

fix(security): patch remaining npm CVEs in bun.lock
  apps/web/package.json
  bun.lock
  package.json
Due: web-app

fix(crm-service): load .env.test in CI without overriding CI env vars
  services/crm-service/src/test/setup.ts
Due: none

feat(listing-service): add local image upload endpoint and ImageUploader component
  apps/web/src/components/listings/ImageUploader.tsx
  apps/web/src/components/listings/index.ts
  apps/web/src/lib/api/config.ts
  apps/web/src/lib/api/services/listings.ts
  docker-compose.yml
  services/listing-service/src/routes/index.ts
  services/listing-service/src/routes/uploads.ts
  services/listing-service/uploads/listings/.gitkeep
Due: listing-service, web-app

feat(web): multi-step create listing form + Select/Textarea UI components
  apps/web/src/App.tsx
  apps/web/src/components/layout/Header.tsx
  apps/web/src/components/ui/Select.tsx
  apps/web/src/components/ui/Textarea.tsx
  apps/web/src/components/ui/index.ts
  apps/web/src/pages/CreateListingPage.tsx
  apps/web/src/pages/index.ts
  services/listing-service/src/controllers/ListingController.ts
  services/listing-service/src/routes/listings.ts
Due: listing-service, web-app

feat(web): Avito-style catalog with sidebar filters, grid/list toggle, pagination
  apps/web/src/components/listings/ListingsGrid.tsx
  apps/web/src/pages/ListingsPage.tsx
Due: web-app

feat(web): add listing detail page with gallery, seller card, and similar listings
  apps/web/src/App.tsx
  apps/web/src/pages/ListingDetailPage.tsx
  apps/web/src/pages/index.ts
Due: web-app

feat(web): tasks 5-13 — favorites, dashboard, chat, reviews, map, PWA, admin
  apps/web/index.html
  apps/web/public/manifest.json
  apps/web/public/sw.js
  apps/web/src/App.tsx
  apps/web/src/components/layout/BottomNav.tsx
  apps/web/src/components/layout/Header.tsx
  apps/web/src/components/layout/Layout.tsx
  apps/web/src/components/listings/ListingCard.tsx
  apps/web/src/components/reviews/ReviewCard.tsx
  apps/web/src/components/reviews/index.ts
  apps/web/src/lib/FavoritesContext.tsx
  apps/web/src/pages/AdminPage.tsx
  apps/web/src/pages/CreateListingPage.tsx
  apps/web/src/pages/DashboardPage.tsx
  apps/web/src/pages/FavoritesPage.tsx
  apps/web/src/pages/ListingDetailPage.tsx
  apps/web/src/pages/ListingsPage.tsx
  apps/web/src/pages/MessagesPage.tsx
  apps/web/src/pages/index.ts
Due: web-app

fix(listing-service): harden image upload route and uploader component
  apps/web/src/components/listings/ImageUploader.tsx
  services/listing-service/src/routes/uploads.ts
Due: listing-service, web-app

refactor(uploads): adapt image upload to modular monolith
  apps/web/src/components/listings/ImageUploader.tsx
  docker-compose.yml
  services/listing-service/src/test/ImageUpload.test.ts
Due: web-app

ci: fix pre-existing red checks (docker stack, coverage comment, flaky integration)
  .github/workflows/coverage.yml
  .github/workflows/docker.yml
  services/user-service/vitest.config.ts
Due: none

ci: lower coverage hard gate to 60%
  .github/workflows/README.md
  .github/workflows/coverage.yml
Due: none

ci: auto-sync bun.lock on Dependabot npm PRs
  .github/workflows/dependabot-lockfile.yml
Due: none

ci: auto-sync bun.lock on Dependabot npm PRs (#159)
  .github/workflows/dependabot-lockfile.yml
Due: none

chore(deps): consolidate Dependabot npm bumps into one lockfile
  apps/api/package.json
  apps/web/package.json
  bun.lock
  package.json
  packages/auth/package.json
  packages/database-schema/package.json
  packages/i18n/package.json
  packages/logger/package.json
  packages/shared-types/package.json
  services/agency-service/package.json
  services/booking-service/package.json
  services/crm-service/package.json
  services/listing-service/package.json
  services/payment-service/package.json
  services/storage-service/package.json
  services/user-service/package.json
Due: payment-service, user-service, listing-service, booking-service, crm-service, agency-service, web-app

chore(deps): consolidate Dependabot npm bumps into one lockfile (#163)
  apps/api/package.json
  apps/web/package.json
  bun.lock
  package.json
  packages/auth/package.json
  packages/database-schema/package.json
  packages/i18n/package.json
  packages/logger/package.json
  packages/shared-types/package.json
  services/agency-service/package.json
  services/booking-service/package.json
  services/crm-service/package.json
  services/listing-service/package.json
  services/payment-service/package.json
  services/storage-service/package.json
  services/user-service/package.json
Due: payment-service, user-service, listing-service, booking-service, crm-service, agency-service, web-app

Path conditions:
  payment-service: any of: services/payment-service/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/coverage/**, **/dist/**, **/build/**, **/node_modules/**, **/*.config.js, **/*.config.ts, **/vitest.config.ts, **/jest.config.js, **/.next/**, **/public/**, **/docs/**, **/*.md, **/scripts/**, **/migrations/**, **/drizzle/**
  user-service: any of: services/user-service/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/coverage/**, **/dist/**, **/build/**, **/node_modules/**, **/*.config.js, **/*.config.ts, **/vitest.config.ts, **/jest.config.js, **/.next/**, **/public/**, **/docs/**, **/*.md, **/scripts/**, **/migrations/**, **/drizzle/**
  listing-service: any of: services/listing-service/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/coverage/**, **/dist/**, **/build/**, **/node_modules/**, **/*.config.js, **/*.config.ts, **/vitest.config.ts, **/jest.config.js, **/.next/**, **/public/**, **/docs/**, **/*.md, **/scripts/**, **/migrations/**, **/drizzle/**
  booking-service: any of: services/booking-service/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/coverage/**, **/dist/**, **/build/**, **/node_modules/**, **/*.config.js, **/*.config.ts, **/vitest.config.ts, **/jest.config.js, **/.next/**, **/public/**, **/docs/**, **/*.md, **/scripts/**, **/migrations/**, **/drizzle/**
  notification-service: any of: services/notification-service/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/coverage/**, **/dist/**, **/build/**, **/node_modules/**, **/*.config.js, **/*.config.ts, **/vitest.config.ts, **/jest.config.js, **/.next/**, **/public/**, **/docs/**, **/*.md, **/scripts/**, **/migrations/**, **/drizzle/**
  ai-service: any of: services/ai-service/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/coverage/**, **/dist/**, **/build/**, **/node_modules/**, **/*.config.js, **/*.config.ts, **/vitest.config.ts, **/jest.config.js, **/.next/**, **/public/**, **/docs/**, **/*.md, **/scripts/**, **/migrations/**, **/drizzle/**
  voice-service: any of: services/voice-service/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/coverage/**, **/dist/**, **/build/**, **/node_modules/**, **/*.config.js, **/*.config.ts, **/vitest.config.ts, **/jest.config.js, **/.next/**, **/public/**, **/docs/**, **/*.md, **/scripts/**, **/migrations/**, **/drizzle/**
  crm-service: any of: services/crm-service/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/coverage/**, **/dist/**, **/build/**, **/node_modules/**, **/*.config.js, **/*.config.ts, **/vitest.config.ts, **/jest.config.js, **/.next/**, **/public/**, **/docs/**, **/*.md, **/scripts/**, **/migrations/**, **/drizzle/**
  agency-service: any of: services/agency-service/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/coverage/**, **/dist/**, **/build/**, **/node_modules/**, **/*.config.js, **/*.config.ts, **/vitest.config.ts, **/jest.config.js, **/.next/**, **/public/**, **/docs/**, **/*.md, **/scripts/**, **/migrations/**, **/drizzle/**
  web-app: any of: apps/web/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/coverage/**, **/dist/**, **/build/**, **/node_modules/**, **/*.config.js, **/*.config.ts, **/vitest.config.ts, **/jest.config.js, **/.next/**, **/public/**, **/docs/**, **/*.md, **/scripts/**, **/migrations/**, **/drizzle/**
  mobile-app: any of: apps/mobile/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/coverage/**, **/dist/**, **/build/**, **/node_modules/**, **/*.config.js, **/*.config.ts, **/vitest.config.ts, **/jest.config.js, **/.next/**, **/public/**, **/docs/**, **/*.md, **/scripts/**, **/migrations/**, **/drizzle/**
  admin-dashboard: any of: apps/admin/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/coverage/**, **/dist/**, **/build/**, **/node_modules/**, **/*.config.js, **/*.config.ts, **/vitest.config.ts, **/jest.config.js, **/.next/**, **/public/**, **/docs/**, **/*.md, **/scripts/**, **/migrations/**, **/drizzle/**
  shared-types: any of: packages/types/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/coverage/**, **/dist/**, **/build/**, **/node_modules/**, **/*.config.js, **/*.config.ts, **/vitest.config.ts, **/jest.config.js, **/.next/**, **/public/**, **/docs/**, **/*.md, **/scripts/**, **/migrations/**, **/drizzle/**
  shared-utils: any of: packages/utils/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/coverage/**, **/dist/**, **/build/**, **/node_modules/**, **/*.config.js, **/*.config.ts, **/vitest.config.ts, **/jest.config.js, **/.next/**, **/public/**, **/docs/**, **/*.md, **/scripts/**, **/migrations/**, **/drizzle/**
